<h2>Change password</h2>
<hr><br>
<form [formGroup]="passwordForm" (ngSubmit)="sendPassword()">
  <div class="form-group">
    <label>Old password</label>
    <input type="password" class="form-control" formControlName="oldPassword"
      [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
      <div *ngIf="f.oldPassword.errors.required">Confirm Password is required</div>
    </div>
    <div *ngIf="isPasswordMatch">
      <div>
        <label style="color: #dc3545; font-size: 80%; margin-top: 0.25rem;">
          This mail is already used. Try another one.</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>New password</label>
    <input type="password" class="form-control" formControlName="newPassword"
      [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
      <div *ngIf="f.newPassword.required">Password is required</div>
      <div *ngIf="f.newPassword.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirm new password</label>
    <input type="password" class="form-control" formControlName="confirmPassword"
      [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
  </div>
  <button class="btn btn-outline-primary">Save</button>
</form><br><br>
