<navNoLog></navNoLog>
<div class="container mt-5 px-lg-5">

  <div class="row mx-lg-n5">

    <div class="col-4">
      <div class="card" style="max-width: 17rem;">

        <img [src]="currentUser.photo" class="card-img-top photo" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{currentUser.firstname}} {{currentUser.surname}}</h5>
          <p class="card-text">{{currentUser.description}}</p>
          <p class="card-text">{{currentUser.location}}</p>
          <p class="card-text">{{currentUser.knowledge}}</p>
          <p class="card-text">{{currentUser.cv}}</p>
          <p class="card-text">{{currentUser.email}}</p>
        </div>

      </div>

    </div>

    <div class="col-8">

      <div class="card-columns">

        <div class="card" *ngFor="let project of ">
          <img [src]="project.project.img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{project.project.projectName}}</h5>
            <p class="card-text">{{project.project.description}}</p>
            <div class="dropdown-divider"></div>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text" id="{{project.project.idType.nameType}}">{{project.project.idType.nameType}}</small>
            </div>
            <a class="btn btn-outline-primary mt-4" [routerLink]="['/oneProject', project.idProject]"
              role="button">Link</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
