<navNoLog></navNoLog>
<div class="container mt-5 px-lg-5">

  <div class="row mx-lg-n5">

    <div class="col-4">
      <div class="card" style="max-width: 17rem;">

        <img [src]="user.photo" class="card-img-top photo" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.firstname}} {{user.surname}}</h5>
          <p class="card-text">{{user.description}}</p>
          <p class="card-text">{{user.location}}</p>
          <p class="card-text">{{user.knowledge}}</p>
          <p class="card-text">{{user.cv}}</p>
          <p class="card-text">{{user.email}}</p>
        </div>
      </div>
    </div>
    <div class="col-8">
      <h1>{{user.firstname}} {{user.surname}}'s projects</h1> <br><br>
      <div class="card-columns">
        <div class="card" *ngFor="let project of allProjects | paginate: { itemsPerPage: 12, currentPage: p}">
          <img [src]="project.img" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{project.projectName}}</h5>
            <p class="card-text">{{project.description}}</p>
            <div class="dropdown-divider"></div>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text" id="{{project.type.nameType}}">{{project.type.nameType}}</small>
            </div>
            <a class="btn btn-outline-primary mt-4" [routerLink]="['/oneProject', project.idProject]"
              role="button">Link</a>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<footer-tag></footer-tag>