<navNoLog></navNoLog>
<div class="container col-md-7"><br><br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="finished-tab" data-toggle="tab" href="#finished" role="tab"
        aria-controls="finished" aria-selected="true">Finished projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ongoing-tab" data-toggle="tab" href="#ongoing" role="tab" aria-controls="ongoing"
        aria-selected="false">Ongoing projects</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="finished" role="tabpanel" aria-labelledby="finished-tab">
      <br>
      <h1 class="text-center mt-4">Most popular finished projects</h1><br><br>
      <div class="col">
        <div class="card ">
          <!-- *ngFor="let project of projectsInProgress" -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>

    </div>




    <div class="tab-pane fade" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
      <br>
      <h1 class="text-center mt-4">Most popular ongoing projects</h1><br><br>
      <div class="col">
        <div class="card ">
          <!-- *ngFor="let project of projectsInProgress" -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
<footer-tag></footer-tag>
