<navNoLog></navNoLog>
<div class="container col-md-7"><br><br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="finished-tab" data-toggle="tab" href="#finished" role="tab"
        aria-controls="finished" aria-selected="true">Finished projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ongoing-tab" data-toggle="tab" href="#ongoing" role="tab" aria-controls="ongoing"
        aria-selected="false">Ongoing projects</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="finished" role="tabpanel" aria-labelledby="finished-tab">
      <br><br>
      <h1 class="text-center mt-4">Most popular finished projects</h1>
      <div class="card-coumns">


      </div>

    </div>




    <div class="tab-pane fade" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
      <br><br>
      <h1 class="text-center mt-4">Most popular ongoing projects</h1>
      <div class="card-columns">


      </div>

    </div>

  </div>

</div>
<footer-tag></footer-tag>
