<navNoLog></navNoLog>
<div class="container col-md-7"><br><br>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="finished-tab" data-toggle="tab" href="#finished" role="tab"
        aria-controls="finished" aria-selected="true">Finished projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ongoing-tab" data-toggle="tab" href="#ongoing" role="tab" aria-controls="ongoing"
        aria-selected="false">Ongoing projects</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="finished" role="tabpanel" aria-labelledby="finished-tab">
      <br>
      <h1 class="text-center mt-4">Most popular finished projects</h1><br><br>
      <div class="col">
        <div class="card mt-4 text-left"
          *ngFor="let project of projectsFinished | paginate: { itemsPerPage: 9, currentPage: p1, id: 'first' }">
          <div class="card-body">
            <h5 class="card-title">{{project.projectName}}</h5>
            <p class="card-text text-left">{{project.description}}</p>
            <a [routerLink]="['/publicProfile', project.userO.idUser]"><small>{{project.nameCreator}}</small></a>

            <div class="dropdown-divider"></div>
            <div class="d-flex justify-content-between align-items-center">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
              <ngb-rating [(rate)]="project.stars" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
              <small class="text" id="{{project.type.nameType}}">{{project.type.nameType}}</small>
            </div><br>

            <a href="#" class="btn btn-outline-primary mt-3" [routerLink]="['/oneProject', project.idProject]">Card
              link</a>
          </div>
        </div>
      </div>
      <pagination-controls class="mt-4 pagination" (pageChange)="p1 = $event" id="first">
      </pagination-controls>
    </div>



    <div class="tab-pane fade" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
      <br>
      <h1 class="text-center mt-4">Most popular ongoing projects</h1><br><br>
      <div class="col">
        <div class="card mt-4 text-left"
          *ngFor="let project of projectsInProgres | paginate: { itemsPerPage: 9, currentPage: p2, id: 'second' }">
          <div class="card-body">
            <h5 class="card-title">{{project.projectName}}</h5>
            <p class="card-text text-left">{{project.description}}</p>
            <a [routerLink]="['/publicProfile', project.userO.idUser]"><small>{{project.nameCreator}}</small></a>
            <div class="dropdown-divider"></div>
            <div class="d-flex justify-content-between align-items-center">
              <ng-template #t>
                <span style="color: #007bff; font-size: 20px; line-height: 0px;"> &hearts; </span>
                <small class="">{{project.likes}}</small>
              </ng-template>
              <ngb-rating [rate]="1" max="1" [starTemplate]="t" [readonly]="true"></ngb-rating>
              <small class="text" id="{{project.type.nameType}}">{{project.type.nameType}}</small>
            </div><br>

            <a href="#" class="btn btn-outline-primary mt-3" [routerLink]="['/oneProject', project.idProject]">Card
              link</a>
          </div>
        </div>

      </div>
      <pagination-controls class="mt-4 pagination" (pageChange)="p2 = $event" id="second"></pagination-controls>
    </div>

  </div>

</div>
<footer-tag></footer-tag>
