<navNoLog></navNoLog>
<div class="container col-md-7">
  <div class="row">
    <div class="col-3">
      <br><br>
      <figure class="figure">
        <img [src]="project.img" class="w-100 rounded" alt="...">
        <figcaption class="figure-caption text-center">{{project.idType.nameType}}</figcaption>
      </figure>
    </div>
    <div class="col">
      <br><br>
      <h1>{{project.projectName}}</h1>
      <p>{{project.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <small>{{project.nameCreator}}</small><br>
          <small>{{project.dateFinish}}</small>
        </div>
        <ng-template [ngIf]="isLike" [ngIfElse]="notLike">
          <ng-template [ngIf]="userExistAndNoLike" [ngIfElse]="VoteLike">
            <ngb-rating [formControl]="ctrl" (click)="toggleLike()" style="color:#007bff" max="1">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" [class.bad]="index<3">&hearts;</span>
              </ng-template>
            </ngb-rating>
          </ng-template>
          <ng-template #VoteLike>
            <ng-template #t>
              <span style="color: #007bff; font-size: 20px; line-height: 0px;"> &hearts; </span>
              <small class="">{{project.likes}}</small>
            </ng-template>
            <ngb-rating [rate]="1" [starTemplate]="t" [readonly]="true"></ngb-rating>
          </ng-template>
        </ng-template>
        <ng-template #notLike>
          <ng-template [ngIf]="userExistAndNoVoted" [ngIfElse]="notVote">
            <ngb-rating [formControl]="ctrl" (click)="toggleStar()" style="color:#007bff" max="5"></ngb-rating>
          </ng-template>
          <ng-template #notVote>
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" style="max-width: 15px;" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>
            <ngb-rating [(rate)]="project.stars" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          </ng-template>
        </ng-template>
      </div>
      <div>
      </div>
    </div>

  </div>
  <h3 class="mt-5">Latest updates</h3>
  <div class="overflow-auto h-100 jumbotron">
    <div>
      <small class="text-left text-primary">""author""</small><br>
      <p class="bg-light rounded px-4 py-4 text-right text-break">Lorem ipsum dolor sit amet consectetur
        adipisicing
        elit. Quisquam ipsam numquam reiciendis voluptatibus architecto soluta, voluptate nisi tempora voluptas enim
        iure quidem quam qui sequi, at repellendus accusamus atque. Nesciunt! <br> <small
          class="text-muted">""dia-sent""
          ""hora-sent""</small></p>
    </div><br>

    <div>
      <small class="text-left text-primary">""author""</small><br>
      <p class="bg-light rounded px-4 py-4 text-right text-break">Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quisquam ipsam numquam reiciendis voluptatibus architecto soluta, voluptate nisi tempora voluptas enim
        iure quidem quam qui sequi, at repellendus accusamus atque. Nesciunt! <br> <small
          class="text-muted">""dia-sent""
          ""hora-sent""</small></p>
    </div><br>

    <div>
      <small class="text-left text-primary">""author""</small><br>
      <p class="bg-light rounded px-4 py-4 text-right text-break">Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quisquam ipsam numquam reiciendis voluptatibus architecto soluta, voluptate nisi tempora voluptas enim
        iure quidem quam qui sequi, at repellendus accusamus atque. Nesciunt! <br> <small
          class="text-muted">""dia-sent""
          ""hora-sent""</small></p>
    </div><br>

  </div>
  <form [formGroup]="messageForm" (ngSubmit)="sendForm()">
    <textarea rows="4" class="w-100" class="form-control" formControlName="newMessage"></textarea>
    <div *ngIf="submitted && f.newMessage.errors" class="invalid-feedback">
      <div *ngIf="f.newMessageword.errors.required">Text is required</div>      
    </div>
    <button type="button" class="btn btn-primary">Post</button>
  </form>
</div>
<footer-tag></footer-tag>
