<navNoLog></navNoLog>

<div class="container col-md-5">
  <br>
  <h1 class="text-center mt-4">Create a new project</h1><br>
  <p>Coordinate, track, and update your work in one place, so projects stay transparent and on schedule.</p>
  <div class="dropdown-divider"></div>

  <form [formGroup]="createProjectForm" (ngSubmit)="sendForm()" enctype="multipart/form-data">
    <div class="form-group">
      <label>Project's name</label>
      <input type="text" class="form-control" formControlName="projectName"
        [ngClass]="{'is-invalid': submitted && f.projectName.errors }" />
      <div *ngIf="submitted && f.projectName.errors" class="invalid-feedback">
        <div *ngIf="f.projectName.errors.required">Project's name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Description </label>
      <input type="text" class="form-control" formControlName="description"
        [ngClass]="{'is-invalid': submitted && f.description.errors }" />
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Project's description is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Type of project</label>
      <select class="form-control" formControlName="idType" [ngClass]="{'is-invalid': submitted && f.idType.errors }">
        <option *ngFor="let type of typesProject" value={{type.idType}}>{{type.nameType}}</option>
      </select>
      <div *ngIf="submitted && f.idType.errors" class="invalid-feedback">
        <div *ngIf="f.idType.errors.required">Project's type is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Ending date</label>
      <input type="date" formControlName="dateFinish" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.dateFinish.errors }" />
      <div *ngIf="submitted && f.dateFinish.errors" class="invalid-feedback">
        <div *ngIf="f.dateFinish.errors.required">Project's ending date is required</div>
        <div *ngIf="f.dateFinish.errors.validateDate">Ending date must be after the start date</div>
      </div>
    </div>
    <div class="form-group">
      <label>Insert an image</label>
      <small>(optional)</small><br>
      <div class="custom-file">
        <input type="file" name="file" (change)="uploadDocument($event)" formControlName="img">
        <!-- <label class="custom-file-label" for="inputGroupFile02">Choose
          file ...</label> -->
      </div><br>
      <!--  <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div> -->
    </div>
    <br>
    <button class="btn btn-primary">Create</button>
  </form>
</div><br><br>
<footer-tag></footer-tag>