<header>
  <h2>LapWork</h2>
  <div id="search">
    <img id="clickSearch" src="/src/assets/icons/magnifying-glass.png">
    <input id="inputSearch" type="text"><!-- TO DO -> ADD app.js to app.component.ts -->
  </div>
  <a href="register.component.html">Register</a> <!-- hacer link ANGULAR linkando a register -->
  <a href="#">Log In</a>
</header>

<main>
  <div id="one">
    <h1>A new way to manage your project</h1>
    <p>Plan. Organize. Trak. In one visual cooperative way</p>
    <a href="#">Get started</a> <br> <!-- full info link -->
    <img src="/src/assets/icons/table.jpeg" alt="table" width="600">
  </div><!-- this is not finalized -->
  
  <div id="two">
    <h1>Outstanding projects</h1>
    
    <div>
      <h2>Finished projects</h2>
      
      <ol>
        <li *ngFor='let project of projects;'>
          {{project.name}} <br>
          {{project.desc}} <br>
          <!-- {{project.likes}} ???????-->
        </li>
      </ol>
    </div>

    <div>
      <h2>On going projects</h2>

    </div>
  </div>
</main>