$safetyWhite: #fff;
$safetyBlue: #4285F4;
$safetyDark: #323232;
$safetyGrey: rgb(167, 167, 167);
header {
    background: #020202c7;
    color: $safetyWhite;
    height: 40px;
    h2 {
        margin: 0px;
        font-weight: 400;
        position: relative;
        left: 22%;
        top: 9px;
        font-size: 15px;
        width: fit-content;
        height: fit-content;
    }
    #search {
        display: inline-block;
        position: relative;
        top: -8px;
        left: 29%;
        height: 22px;
        img {
            width: 16px;
            top: -1px;
            position: absolute;
        }
        img:hover {
            cursor: pointer;
        }
        input {
            border: #9E9E9E 1px solid;
            border-radius: 4px;
            height: 20px;
            padding: 3px 18px 5px 18px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            position: absolute;
            top: -7px;
            left: -1px;
            width: 248px;
            display: none;
        }
    }
    a {
        text-decoration: none;
        cursor: pointer;
        color: $safetyWhite;
        position: relative;
        right: -66%;
        top: -16px;
        margin: 0px 40px 0px 0px;
        font-size: 15px;
        padding: unset;
    }
    a:hover {
        color: $safetyBlue;
        transition-timing-function: ease-in;
    }
}

main {
    text-align: center;
    background-color: #FAFAFA;
    #one, #two{
        padding: 10px 0px 36px 0px;
        position: relative;
        a {
            text-decoration: none;
            cursor: pointer;
        }
        img {
            margin: 10px 0px 0px 0px;
            color: #ccc;
        }
    }
    #two {
        margin: 16px 0px 0px 0px !important;
        background-color: #fff;
        div{
            text-align: initial;
            display: inline-block;
        }
    }
}