$safetyWhite: #fff;
$safetyBlue: #4285F4;
$safetyBlueBark: #0070c9;
$safetyDark: #323232;
header {
    h2 {
        a {
            left: 0px !important;
            top: 0px;
        }
    }
}

div {
    text-align: center;
    position: relative;
    top: 32px;
    h1 {
        font-weight: 600;
    }
}