<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']" style="color: #fff;">LapWork</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="!currentUser">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item active" *ngIf="!currentUser">
        <a class="nav-link" [routerLink]="['/login']">Log In</a>
      </li>
      <li class="nav-item dropdown active" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p class="dropdown-item text-primary">Signed in as <br>{{currentUser.firstname}}</p>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['profile/myProjects']">My Projects</a>
          <a class="dropdown-item" [routerLink]="['profile/favourites']">Favourites</a>
          <a class="dropdown-item" [routerLink]="['profile/joinProjects']">Join projects</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../settings']">Settings</a>
          <a class="dropdown-item" (click)="signOut()" href="">Log Out</a>
        </div>
      </li>
    </ul>


  </div>
</nav>
