<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']" style="color: #fff;">LapWork</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav">
      <li class="nav-item active" *ngIf="!currentUser">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item active" *ngIf="!currentUser">
        <a class="nav-link" [routerLink]="['/login']">Log In</a>
      </li>
      <li class="nav-item dropdown active" *ngIf="currentUser">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" style="min-width:250px;" aria-labelledby="navbarDropdown">
          <div class="list-inline">
            <ng-template [ngIf]="currentUser" [ngIfElse]="notPhoto">
              <img [src]="currentUser.photo" style="height: 40px;"
                class="list-inline-item rounded float-left ml-4 photo" alt="...">
            </ng-template>
            <ng-template #notPhoto>
              <img [src]="'./assets/userAssets/photos/girl.jpg'" style="height: 40px;"
                class=" list-inline-item rounded float-left ml-4" alt="...">
            </ng-template>
            <a class="dropdown-item text-primary" [routerLink]="['../profile']">Signed in as
              <br>{{currentUser.firstname}}</a>
          </div>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../profile']">My Projects</a>
          <a class="dropdown-item" [routerLink]="['../profile']">Favourites</a>
          <a class="dropdown-item" [routerLink]="['../profile']"
            href="/src/app/profile/profile.component.html/#joinProjects">Join projects</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../settings']">Settings</a>
          <a class="dropdown-item" (click)="signOut()" href="">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<script>
  $(function () {
    $('#joinProjects li:last-child a').tab('show')
  })

</script>
