<navNoLog></navNoLog>
<div class="container col-md-7">
  <div>
    <br>
    <h1 class="text-center mt-4">A new way to manage your project</h1>
    <div class="text-center">
      <p>Plan, organise, track in one visual cooperative way</p>
      <a [routerLink]="['login']" class="text-center" *ngIf="!currentUser">Get started</a>
      <a [routerLink]="['login']" class="text-center" *ngIf="currentUser">Go to profile</a>
      <img [src]="'assets/icons/general/next.png'" height="14px" style="margin-left: 3px" alt="">
      <br><br>
      <img class="rounded-sm" [src]="'assets/icons/standard/table.jpg'" alt="table" class="img-fluid rounded">
    </div><br><br>
  </div>

  <div class="text-center"><br>
    <h1>Outstanding projects</h1><br>
    <div class="row">
      <div class="col-6 mb-4">
        <h3>Finished projects</h3>
        <div class="card mt-4 text-left" *ngFor="let project of projectsFinished | slice:0:3">
          <img [src]="'assets/icons/standard/table3.jpg'" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{project.projectName}}</h5>
            <p class="card-text text-left">{{project.description}}</p>
            <small class="">{{project.nameCreator}}</small>
            <div class="dropdown-divider"></div>
            <div class="d-flex justify-content-between align-items-center">
              <small class="">{{project.stars}}</small>

              <!-- <div class="form-group">
                <ngb-rating [formControl]="ctrl"></ngb-rating>
                <div class="form-text small">
                  <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
                  <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
                </div>
              </div> -->


              <small class="text-muted">{{project.idType}}</small>
            </div>
            <a class="btn btn-outline-primary mt-4" [routerLink]="['oneProject']" role="button">Link</a><br>
          </div>
        </div>
        <a [routerLink]="['projects']" class="btn btn-block mt-3 btn-outline-secondary">More</a>
      </div>

      <div class="col-6 mb-4">
        <h3>On going projects</h3>
        <div class="card mt-4 text-left" *ngFor="let project of projectsInProgress | slice:0:3">
          <img [src]="'assets/icons/standard/table7.jpg'" class="card-img-top rounded" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{project.projectName}}</h5>
            <p class="card-text text-left">{{project.description}}</p>
            <small class="">{{project.nameCreator}}</small>
            <div class="dropdown-divider"></div>
            <div class="d-flex justify-content-between align-items-center">
              <small class=""><img src="../../assets/icons/general/faves/like.png" height="20px" alt="">
                {{project.likes}}</small>
              <small class="text-muted">{{project.idType}}</small>
            </div>
            <a class="btn btn-outline-primary mt-4" [routerLink]="['oneProject']" role="button">Link</a><br>
          </div>
        </div>

        <a [routerLink]="['projects']" class="btn btn-block mt-3 btn-outline-secondary">More</a>
      </div>
    </div>
  </div><br><br>
</div>
<footer-tag></footer-tag>
