/* #IT {
  color: #ff7537 !important;
}

#Art {
  color: #42d692 !important;
}

#Engineering {
  color: #f6989d !important;
}

#Literary {
  color: #9a9cff !important;
}

#Technological {
  color: #8f8f8f !important;
}
 */
