<navNoLog></navNoLog>

<div class="container col-md-5 ">
  <br>
  <h1 class="text-center mt-4">Create your account</h1><br>

  <a [routerLink]="['../login']">Already have a LapWork ID? Find it here</a>
  <div class="dropdown-divider"></div><br>

  <form [formGroup]="registerForm" (ngSubmit)="sendForm()">
    <div class="form-row">
      <div class="form-group col-md">
        <label>First Name</label>
        <input type="text" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group col-md">
        <label>Surname</label>
        <input type="text" formControlName="surname" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
          <div *ngIf="f.surname.errors.required">Surname is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>User name</label>
      <input type="text" formControlName="userName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
      <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
        <div *ngIf="f.userName.errors.required">User Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" (blur)="checkEmail()" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
      <div *ngIf="isEmailExist">
        <div>
          <label>
            This mail is already used. Try another one.</label>
        </div>
      </div>
    </div>

    <div class="form-group has-error">
      <label>Country/ Region</label>
      <input google-place type="text" class="form-control" formControlName="country" (onSelect)="setAddress($event)"
        placeholder="Type to search.." id="inputError" />


      <div *ngIf="isSelectCountry">
        <div>
          <label style="color: #dc3545; font-size: 80%; margin-top: 0.25rem;">
            Country & Region is required</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Birthdate</label>
      <input type="date" formControlName="birthdate" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }" />
      <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
        <div *ngIf="f.birthdate.errors.required">User Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="pass" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" />
      <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
        <div *ngIf="f.pass.errors.required">Password is required</div>
        <div *ngIf="f.pass.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>

    <div class="dropdown-divider"></div>

    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" formControlName="privacy" class="form-check-input"
          [ngClass]="{ 'is-invalid': submitted && f.privacy.errors }" checked />
        I have read and accept <a [routerLink]="['../privacyPolicy']">Privacy Policy</a>.
        <div *ngIf="submitted && f.privacy.errors" class="invalid-feedback">
          <div *ngIf="f.privacy.errors.required">Privacy Policy is required</div>
        </div>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="saveName" /> I confirm all
        information provided is my own; I understand and agree I will be used as per the LapWork <a
          [routerLink]="['../privacyPolicy']">Privacy
          Policy</a>. I can withdaw my prior consent at any time<br>
      </div>
    </div>

    <button class="btn btn-primary">Register</button>
  </form>
</div>
<br><br>
<footer-tag></footer-tag>
