<navNoLog></navNoLog>
<div class="container mt-5">

  <div class="row">
    <div class="col-12">

      <div class="row">
        <div class="col-3">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list"
              href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-account-list" data-toggle="list"
              href="#list-account" role="tab" aria-controls="account">Account</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
              href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
              href="#list-settings" role="tab" aria-controls="settings">Settings</a>
          </div>
        </div>

        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="list-profile" role="tabpanel"
              aria-labelledby="list-profile-list">
              <h2>Public profile</h2>
              <hr>
              <br>
              <div *ngIf="dateModifiedSuccessfull" class="alert alert-success" role="alert">Data have been updated.
              </div>
              <form [formGroup]="modifyUserForm" (ngSubmit)="sendForm()" enctype="multipart/form-data">
                <div class="form-row">
                  <div class="form-group col-2">
                    <img [src]="currentUser.photo" class="img-thumbnail" alt="...">
                  </div>
                  <div class="form-group col">
                    <label>Insert an image</label>

                    <div class="custom-file">
                      <label class="custom-file-label" for="inputGroupFile02"
                        aria-describedby="inputGroupFileAdd">Choose file ...</label>
                      <input type="file" name="file" class="custom-file-input" formControlName="photo"
                        id="inputGroupFile02">
                    </div>
                  </div>

                </div>
                <div class="form-row">
                  <div class="form-group col-md">
                    <label>First Name </label>
                    <input type="text" class="form-control" formControlName="firstname" />
                  </div>
                  <div class="form-group col-md">
                    <label>Surname</label>
                    <input type="text" class="form-control" formControlName="surname" />
                  </div>
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" formControlName="description" />
                </div>

                <div class="form-group" *ngIf="googleOK">
                  <label>Country/ Region</label><br>
                  <small class="text-muted">{{currentUser.location}}</small>
                  <input placeholder="Type to search..." google-place type="text" class="form-control"
                    formControlName="location" (onSelect)="setAddress($event)" id="inputError" />
                </div>

                <div class="form-group">
                  <label>Birthdate</label>
                  <input placeholder="{{currentUser.birthdate}}" type="date" class="form-control"
                    formControlName="birthdate" />
                </div>

                <div class="form-group">
                  <label>Linkedin</label>
                  <input placeholder="{{currentUser.cv}}" type="text" class="form-control" formControlName="cv" />
                </div>

                <div class="form-group">
                  <label>Knowledge</label>
                  <input placeholder="{{currentUser.knowledge}}" type="text" class="form-control"
                    formControlName="knowledge" />
                </div><br>
                <button class="btn btn-outline-primary">Save</button>
              </form>
            </div>

            <div class="tab-pane fade" id="list-account" role="tabpanel" aria-labelledby="list-account-list">
              <h2>Change password</h2>
              <hr><br>
              <form [formGroup]="passwordForm" (ngSubmit)="sendPassword()">
                <div class="form-group">
                  <label>Old password</label>
                  <input type="password" class="form-control" formControlName="oldPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" (blur)="checkPassword()" />
                  <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.oldPassword.errors.required">Confirm Password is required</div>
                  </div>
                  <div *ngIf="isPasswordMatch">
                    <div>
                      <label style="color: #dc3545; font-size: 80%; margin-top: 0.25rem;">
                        This mail is already used. Try another one.</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>New password</label>
                  <input type="password" class="form-control" formControlName="newPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                  <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.required">Password is required</div>
                    <div *ngIf="f.newPassword.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Confirm new password</label>
                  <input type="password" class="form-control" formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
                <button class="btn btn-outline-primary">Save</button>
              </form><br><br>
              <h2 class="text-danger">Delete account</h2>
              <hr>
              <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut consequuntur non quos reiciendis.
                Expedita eaque minus illum est provident magni blanditiis iste officiis nemo, quae sequi odit. Autem, id
                quo.</small><br><br>
              <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}
              </ngb-alert>
              <p>
                <button class="btn btn-danger" (click)="deleteAccount()">Delete account</button>
              </p>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<footer-tag></footer-tag>